.videoPage {
    padding: 140px 200px;
    display: flex;
    flex-direction: column;
  }
  
  .videoPageTitle {
    font-size: 32px;
    margin: 20px 0;
  }
  
  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  