
  
  .App {
    padding: 110px 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
    
  table {
    border: 2px solid rgb(34, 59, 139);
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }

  